<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
		name="nlog"
		type="NLog.Config.ConfigSectionHandler, NLog, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SimpleClocks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<SimpleClocks.Properties.Settings>
			<setting name="RefreshMilliseconds" serializeAs="String">
				<value>500</value>
			</setting>
			<setting name="X" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="Y" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="Width" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="Height" serializeAs="String">
				<value>400</value>
			</setting>
			<setting name="Topmost" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="TitleBarVisible" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="TranslateMouseClicks" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ColorProfileName" serializeAs="String">
				<value />
			</setting>
		</SimpleClocks.Properties.Settings>
	</userSettings>
	<nlog
		xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target
				name="asyncFile"
				xsi:type="AsyncWrapper">
				<target
					name="logfile"
					xsi:type="File"
					fileName="${specialfolder:folder=LocalApplicationData}\${processname}\${processname}.log"
					layout="[${date:format=dd\.MM\.yyyy HH\:mm\:ss}] ${level} [${callsite}] ${message}"
					keepFileOpen="true" />
			</target>
			<target
				name="console"
				xsi:type="Console"
				layout="[${date:format=dd\.MM\.yyyy HH\:mm\:ss}] ${level} [${callsite}] ${message}" />
		</targets>
		<rules>
			<logger
				name="*"
				minlevel="Error"
				writeTo="asyncFile"
				enabled="true" />
			<logger
				name="*"
				minlevel="Debug"
				writeTo="console"
				enabled="true" />
		</rules>
	</nlog>
</configuration>